// ---tablet ---//
@media(min-width:590px){
    .contentmenú .title h3{
        font-size: 22px;
        font-weight: normal;
        text-transform: capitalize;
        color:#f2f3f2;
        margin-top: 5%;
        letter-spacing: 1px;
        margin-bottom: 4%;
        margin-left: 20px;   
    }
    .boton{
        width: 20%;
        float: left;
        background-color: #202529;
        display:block;
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 18px;
        letter-spacing: 0.5px;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .tercero .icons {
        /* margin-top: 115px;
        margin-bottom: 105px;*/
        display: block;
        margin: 0 auto;
        width: 10%;
        padding-top: 145px;
        padding-bottom: 145px;
    }
}
