/*variables en css normales*/
:root{
    --color_red:red;
    --blue:blue;
    --gray:gray;
    --font-size:2px
    
}

body{
    background-color:var(--gray);
    border-radius: 50%;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}
p{
    color:var(--blue)
}
a{  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    color:var(--color_red);
    -webkit-box-shadow: 2px;
            box-shadow: 2px;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}

h1{
    /*lo agrego con @apply*/
  color:red;
  text-transform: uppercase;
  float:right ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}