/*variables en css normales*/
:root{
    --color_red:red;
    --blue:blue;
    --gray:gray;
    --font-size:2px;
    /*custom properties set & @apply*/
    --h1-theme: {
        color:red;
        text-transform: uppercase;
        float:right ;
    }
    
}

body{
    background-color:var(--gray);
    border-radius: 50%;
    transform: translateX(10px);
}
p{
    color:var(--blue)
}
a{  
    display: flex;
    color:var(--color_red);
    box-shadow: 2px;
    transform: translateX(10px);
}

h1{
    /*lo agrego con @apply*/
    @apply --h1-theme;
    display: flex;
}