#footer{
    background-color: #010101;
}
.conteinerfooter{
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 300px;
}
.titleFooter{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 65px;
    h1{
        color: $yellow ;
        text-align: center;
        text-transform: capitalize;
    }
    p{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center; 
        font-size: 20px;
        width: 740px;
        color: #787878;
    }
}
.inputs{
    margin-top: 41px;
}
.inputs input {
    background-color: white;
}
.inputs{
    margin-left: 14%;
    input{
        height: 50px;
        width: 575px;
        font-size: 16px;
        border-radius: 3%;
        text-align: center;
    }
    button{
        margin-left: 20px;
        font-size: 16px;
        height: 50px;
        width: 130px;
        background-color:  $yellow ;
        border: 3px solid $yellow ;
        border-radius: 3%;
    }
}
.sprites{
    margin-top: 80px;
    width: 40%;
    height: 65px;
    margin-left: 32%;
    ul{
        .one{
            background-image: url('../img/footersprites.jpg');
            height: 40px;
            width: 40px;
            float: left;
            background-position-x: 0%;
            margin-right: 32px;
        }
        .two{
            background-image: url('../img/footersprites.jpg');
            height: 40px;
            width: 40px;
            float: left;
            background-position-x: 35%;
            margin-right: 32px;
        }
        .three{
            background-image: url('../img/footersprites.jpg');
            height: 40px;
            width: 40px;
            float: left;
            background-position-x: 65%;
            margin-right: 32px;
        }
        .four{
            background-image: url('../img/footersprites.jpg');
            height: 40px;
            width: 40px;
            float: left;
            background-position-x: 100%;
        }
    }
}
.columnsfooter{
    margin-top: 80px;
    height: 100px;
}
.columnsfooter ul{
    height: 100px;
}
.columnsfooter ul li{
    float: left;
    color: $whiteSnow;
    list-style: none;
    display: inline-block;
    width: 100px;
    margin-left: 80px;
}
.columnsfooter ul li:after {
	content: "";
	clear: both;
	display: table;
}
