@media(max-width:600px){
    .title{
        padding-top: 50px;
    }
    .title img{
        margin: 0px auto;
        width: 250px;
        }
    .conteneiner{
    width: 90%;
    }
    #TextSearch{width: 90%;;margin-left: 10%;height: 40px;font-size: 22px;margin-right: 0%;margin-bottom: 5%;
    }
    #bton1 img{
        width: 60px;
        top: 30px;
        left: 10px;
    }
    #contenSearch p{float: none;font-size: 18px;width: 100%; margin-top: 10%;margin-bottom: 10%;
    }
    #contenSearch{
        width: 90%;;
    }
    #contenSearch img{
        float: none;
        }
}