.footer{
    width: 100%;
    background-color: $white;
}
.title{
    width: 100%;
}
.title h2{
    padding-top: 40px;
    margin-top: 0px;
    margin-left: 10%;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: $blue;
}
.parrafo1{
    width: 100%;
    padding-bottom: 15px;
}
.parrafo2{
    padding-bottom: 33px;
}

.parrafo1 p{
    margin-left: 10%;
    width: 75%;
    color:#717171;
}
.parrafo2 p {
    margin-left: 10%;
    width: 75%;
    color:#717171;
    margin-bottom: 0;
}