body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
#conteiner{
    width: 100%;
}
.header{
    max-width:100%;
    background-color: $blue; 
}
.contentmenú{
    width: 100%;
    background-color: $gray;
}
.contentmenú .title{
    width: 80%;
    float: left;
}
.contentmenú .title h3{
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    color:$white;
    margin-top: 5%;
    letter-spacing: 1px;
    margin-bottom: 4%;
    margin-left: 20px;   
}
.boton{
    width: 20%;
    float: left;
    background-color: $gray;
    display:block;
    text-decoration: none;
    list-style: none;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentmenú .menú{
    float: left;
    display: none;
}
.contentmenú:after {
    content: "";
    clear: both;
    display: table;
}
.contentheader{
    width: 100%;
}
.icons {
    width: 25px;
    padding: 5px;
}
.cls-1,.cls-2 {
    fill:none;
    stroke:$white;
    linecap:round;
    stroke-linejoin:round;
    stroke-linecap:round;
    stroke-width: 2px;
}
.contentheader .titlecontenheader{
    margin-top: 60px;
    margin-left: 25px;
    width: 75%;
    margin-bottom: 20px;
}
.contentheader .titlecontenheader h1{
    font-size: 28px;
    color: $white;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0px;
}
.linkcontentheader{
    width: 80%;
    padding-bottom: 70px;
    margin-left: 25px;
}
.linkcontentheader a{
    float: left;
    font-size: 14px;
    color: $blue;
    text-decoration: none;
}
.linkcontentheader a+a{
    margin-left: 30%;
}