
.cover-tour{
    background: linear-gradient(hsla(0, 0%, 0%, 0.4), rgba(0, 0, 0, 0.6)), url('../img/cover3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 75vh;
    padding: 10px 0;
}

.title-tour{
    margin: 0;
    color: white;
    position: relative;
    top: 30vh;
    text-align: center;
    font-family: $font-tour;
    font-size: 2.3rem;
    font-weight: normal;
    letter-spacing: 3px;
    @media screen and (min-width:700px) {
        font-size: 3rem;
    }
}

.wrapper-artist{
    background: linear-gradient(hsla(0, 0%, 0%, 0.75), rgba(0, 0, 0, 0.9)), url('../img/coverartis.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding-bottom: 20px;

    @media screen and (min-width:900px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.artist-one{
    background: linear-gradient(hsla(0, 0%, 0%, 0.3), rgba(0, 0, 0, 0.3)), url('../img/dj-skt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 40vh;
    opacity: 0.9;
    animation: cover 3s infinite;
    @media screen and (min-width:900px) {
        height: 100vh;
        clip-path: polygon(65% 0, 100% 46%, 68% 100%, 0% 100%, 0 49%, 0% 0%);
    }
    .title-artits{
        margin: 0;
        color: white;
        position: relative;
        top: 45%;
        text-align: center;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 3px;
        opacity: 0.5;

        @media screen and (min-width:800px) {
            font-size:2.5rem;
            left: -10%;
        }
    }
}
.artist-two{
    background: linear-gradient(hsla(0, 0%, 0%, 0.3), rgba(0, 0, 0, 0.3)), url('../img/Patrick-Topping_Ibiza-Style-001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 40vh;
    opacity: 0.9;
    animation: cover 3s infinite;
    @media screen and (min-width:900px) {
        height: 100vh;
        clip-path: polygon(65% 0, 100% 46%, 68% 100%, 0% 100%, 0 49%, 0% 0%);
    }
    .title-artits{
        margin: 0;
        color: white;
        position: relative;
        top: 45%;
        text-align: center;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 3px;
        opacity: 0.5;
        @media screen and (min-width:800px) {
            font-size:2.5rem;
            left: -10%;
        }
    }
}
.artist-three{
    background: linear-gradient(hsla(0, 0%, 0%, 0.3), rgba(0, 0, 0, 0.3)), url('../img/jin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 40vh;
    opacity: 0.9;
    animation: cover 3s infinite;
    @media screen and (min-width:900px) {
        height: 100vh;
        clip-path: polygon(65% 0, 100% 46%, 68% 100%, 0% 100%, 0 49%, 0% 0%);
    }
    .title-artits{
        margin: 0;
        color: white;
        position: relative;
        top: 45%;
        text-align: center;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 3px;
        opacity: 0.5;
        @media screen and (min-width:800px) {
            font-size:2.5rem;
            left: -10%;
        }
    }
}


@keyframes cover{
    0%{
        opacity: 0.9;
    }
    
    90%{
        opacity: 0.8;
    }
}

.destails-artits{
    padding: 10px;
    @media screen and (min-width:900px) {
        align-self: center;
    }
    .list{

        .item{
            margin: 20px 0px;
            color: white;
            opacity: 0.8;
            font-size: 1rem;
            font-family: $font-primary;
            &:last-child{
                color: white;
                opacity: 0.8;
                font-size: 1rem;
                font-family: $font-primary;
                text-decoration: line-through;
                text-decoration-color: $red;
                text-shadow: 4px 4px 8px $green,
                -5px -5px 8px $blue  ;
                @media screen and (min-width:700px) {
                    font-size: 2rem;
                    text-align: center;
                }
            }
            @media screen and (min-width:700px) {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
    
}
