@charset "UTF-8";
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

h1 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Montserrat', sans-serif; }

.main {
  width: 100%; }

.main:after {
  content: "";
  clear: both;
  display: table; }

.main .fileone:after {
  content: "";
  clear: both;
  display: table; }

.main .filetwo:after {
  content: "";
  clear: both;
  display: table; }

.main .fileone {
  max-width: 100%; }

.fileone img {
  float: left;
  display: block;
  width: 50%; }

.main .filetwo {
  max-width: 100%; }

.filetwo img {
  display: block;
  float: left;
  width: 50%; }

.fileone::before {
  content: "";
  background-image: url("../img/icon2.png");
  display: inline-block;
  height: 70px;
  width: 60px;
  float: right;
  right: 20px;
  position: fixed; }

.filetwo::before {
  content: "";
  background-image: url("../img/icon4.png");
  display: inline-block;
  height: 68px;
  width: 60px;
  float: right;
  right: 10px;
  position: fixed; }

.footer {
  width: 100%;
  background-color: #f2fbfb; }

.footer .imgPhone {
  padding-top: 50px;
  margin: 0 auto;
  width: 60%; }

.imgPhone img {
  width: 100%; }

.dates {
  text-align: center;
  margin: 0 auto;
  width: 60%; }

.dates p {
  font-size: 8px;
  margin-bottom: 50px;
  color: #aeadae; }

.dates p span {
  color: #99ebee; }

.redes {
  margin: 0 auto;
  width: 55%;
  padding-bottom: 60px; }

.redes ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.redes ul li {
  float: left;
  margin-left: 10%; }

.redes ul li a {
  font-size: 6px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.redes:after {
  content: "";
  clear: both;
  display: table; }

.line {
  font-size: 0px;
  background-color: black;
  margin: 0 auto;
  width: 1px;
  height: 50px; }

#contenedorPrincipal {
  width: 100%;
  margin: 3px; }

.header {
  width: 100%; }

.firstblock {
  padding-top: 7%; }

.firstblock:after {
  content: "";
  clear: both;
  display: table; }

.logo {
  width: 85%;
  float: left; }

.botonmenu {
  width: 15%;
  float: left; }

.botonmenu img {
  width: 100%; }

.menú {
  display: none; }

.secondblock {
  padding-top: 10%;
  width: 100%;
  padding-bottom: 10%; }

.titleAndP {
  position: relative;
  width: 68%; }

.titleAndP h2 {
  text-transform: capitalize;
  font-size: 5rem;
  margin: 0;
  letter-spacing: 2px; }

.titleAndP p {
  font-size: 12px;
  text-align: center;
  margin: 0;
  width: 80%; }

.titleAndP h2::after {
  content: "";
  background-image: url("../img/icon1.png");
  display: inline-block;
  height: 70px;
  width: 40px;
  float: right;
  left: 95px;
  position: relative;
  top: -20px; }

@media (min-width: 570px) {
  #contenedorPrincipal {
    margin: 0 auto; }

  .logo {
    width: 90%; }

  .botonmenu {
    width: 10%; }

  .titleAndP p {
    font-size: 16px;
    padding-top: 20px;
    text-align: justify;
    width: 75%; }

  .titleAndP h2::after {
    height: 70px;
    width: 40px;
    left: 75px;
    top: 30px; }

  .fileone::before {
    right: 50px; }

  .filetwo::before {
    content: "";
    background-image: url("");
    height: 70px;
    left: 90px;
    top: 300px; }

  .footer .imgPhone {
    width: 40%; }

  .dates {
    text-align: center;
    margin: 0 auto;
    width: 65%; }
    .dates :hover {
      color: pink; }

  .dates h2 {
    font-size: 40px;
    letter-spacing: 3px;
    color: black; }
    .dates h2 :hover {
      color: pink; }

  .redes {
    width: 90%; }

  .dates p {
    font-size: 17px; }

  .redes ul:after {
    content: "";
    clear: both;
    display: table; }

  .redes ul li {
    float: left;
    margin-left: 12%; }
    .redes ul li :hover {
      color: pink; }

  .redes ul li a {
    font-size: 15px;
    letter-spacing: 3px; }
    .redes ul li a :hover {
      color: pink; }

  .line {
    width: 2px;
    height: 70px; } }
@media (min-width: 768px) {
  #contenedorPrincipal {
    margin: 0 auto;
    width: 85%; }

  .titleAndP p {
    font-size: 17px;
    padding-top: 20px;
    text-align: justify;
    margin: 0;
    width: 70%; }

  .titleAndP h2::after {
    height: 70px;
    width: 40px;
    left: 75px;
    top: 30px; }

  .fileone::before {
    content: "";
    background-image: url("../img/icon2.png");
    display: inline-block;
    height: 70px;
    width: 60px;
    float: right;
    right: 100px;
    position: fixed; }

  .filetwo::before {
    content: "";
    background-image: url("");
    display: inline-block;
    height: 70px;
    width: 60px;
    float: right;
    left: 90px;
    top: 300px;
    position: fixed; }

  .footer .imgPhone {
    width: 40%; }

  .dates {
    width: 65%; }
    .dates :hover {
      color: pink; }

  .dates h2 {
    font-size: 40px;
    letter-spacing: 3px;
    color: black; }
    .dates h2 :hover {
      color: pink; }

  .redes {
    width: 85%; }

  .dates p {
    font-size: 17px; }

  .redes ul:after {
    content: "";
    clear: both;
    display: table; }

  .redes ul li {
    margin-left: 12%; }
    .redes ul li :hover {
      color: pink; }

  .redes ul li a {
    font-size: 18px;
    letter-spacing: 3px; }
    .redes ul li a :hover {
      color: pink; }

  .line {
    height: 70px; } }
@media (min-width: 992px) {
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; }

  #contenedorPrincipal {
    margin: 0 auto;
    width: 75%; }

  .logo {
    width: 90%; }

  .botonmenu {
    width: 10%; }

  .titleAndP p {
    font-size: 17px;
    padding-top: 20px;
    text-align: justify; }

  .titleAndP h2::after {
    height: 70px;
    width: 40px;
    left: 75px;
    top: 30px; }

  .filetwo::before {
    height: 70px;
    width: 60px;
    left: 90px;
    top: 300px; }

  .footer .imgPhone {
    width: 40%; }

  .dates {
    width: 65%; }
    .dates :hover {
      color: pink; }

  .dates h2 {
    font-size: 40px;
    letter-spacing: 3px;
    color: black; }
    .dates h2 :hover {
      color: pink; }

  .redes {
    width: 85%; }

  .dates p {
    font-size: 17px; }

  .redes ul:after {
    content: "";
    clear: both;
    display: table; }

  .redes ul li {
    float: left;
    margin-left: 15%; }
    .redes ul li :hover {
      color: pink; }

  .redes ul li a {
    font-size: 18px;
    letter-spacing: 3px; }
    .redes ul li a :hover {
      color: pink; }

  .line {
    width: 2px;
    height: 70px; } }

/*# sourceMappingURL=style.css.map */
