// ------------- second bloque -------------//
.firstsecondblock{
    max-width: 100%;
}
.firstsecondblock:after {
    content: "";
    clear: both;
    display: table;
}
.first{
    float: left;
    background-color: #27212c;
    color: #a492b3;
    width: 80%;
}
.first p {
    margin-top: 40px;
    font-size: 12px;
    margin-bottom: 40px;
    margin-left: 30px;
    text-transform: capitalize;
}
.second{
    background-color: $pink;
    float: left;
    width: 20%;
}
.second a .icons{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 26px;
}
.second a{
    width: 30px;
    display: block;
    margin: 0 auto;
}
.slidersecondblock{
    width: 100%;
}
.tercero{
    width: 100%;
    background-color: $purple;
}
.tercero .icons {
   /* margin-top: 115px;
    margin-bottom: 105px;*/
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 105px;
    padding-bottom: 105px;
}
.puente{
    width: 100%;
    margin: 0 ;
}
.puente img{
    width: 100%;
    margin: 0 ;
}
.mujer{
    width: 100%
}
.mujer img {
    width: 100%;
}