@mixin estruc {z-index: 1;position: absolute;top: -5px;left: -45%;width: 45%;height:900px;overflow: auto;background-size:cover;
    border-bottom: 5px solid #193358;
    border-top: 5px solid #193358;border-right: 5px solid #193358;background-image: url('https://i.pinimg.com/originals/45/ea/37/45ea372daab962b1be2ccd8cd899a144.png');
}
$blue :#193358;$orange :#cb7000;$gray:#a39998;