.footer{
    background:  #0c8fb7 url('../img/manoblanco.png') center center no-repeat;
    background-size: 25vh;
    width: 100%;
}
.footer__list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15vh 30px 10vh 30px;
    margin: 0;
}

.footer__list li{
    margin: 0px 10px 0px 10px;
    a{
        text-decoration: none;
        color: white;
    }
}
.footer__text {
    color: white;
    margin: 0;
    padding: 20px;
}