
body{
    margin: 0;
    padding: 0;
}

.wrapper{
    background: rgba(0, 255, 234, 0.158);
}

.wrapper img{
    width: 300px;
    height: 250px;
}

.wrapper h1{
    text-align: center;
}

.wrapper h2{
    text-align: center;
    text-shadow: 2px 2px 10px red;
}