.footer{
    background: #0cb7a0 url('../img/manoblanco.png') center center no-repeat;
    background-size: 25vh;
    width: 100%;
}
.footer__list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15vh 0px 0px 0px;
}
.footer__list li{
    margin: 0px 10px 0px 10px;
    a{
        text-decoration: none;
        color: white;
    }
}
.footer__text {
    color: white;
    margin: 0;
    padding: 20px;
}