body{
    background: black;
    padding: 0;
    margin: 0;
}
.wrapper{
    margin: 0 auto;
    width: 50%;
    padding: 5%;
}

.text{
    letter-spacing: 2px;
    text-align: center;
    color: rgb(15, 73, 121);
    text-shadow: 5px 5px 20px rgb(7, 48, 95)
}

.wrapper-image{
    margin:  0 auto;
    width: 40%;
    padding: 30px;
}
.wrapper-user{
    margin:  0 auto;
    width: 40%;
    padding: 30px;
}
.image{
    animation: rotate 3s linear infinite;
}


@keyframes rotate{
    to { transform: rotate(360deg)}
    
}
