body{
    background-color: black;
}
h1{
  font-family: cursive;
  color: aliceblue;
  opacity: 0.4;
  animation: title 3s infinite linear;
  margin: 0px;
  position: relative;
  top: 60px;
  font-size: 50px;
  margin-left: 10%;

}
label{
  color: #ffffff77;
  position: relative;
  top: 80px;
  font-family: cursive;
  margin-left: 60px;
  font-size: 20px;
}
#filter{
position: relative;
top: 80px;

}
@keyframes title {
  0%{
    transform: rotateX(0deg);
    text-decoration:line-through rgb(14, 13, 13);

  }
  80%{
    transform: rotateX(70deg);
  }
}
#datos{
    margin: 0px auto;
    width: 80%;
}
#botonTarea{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: #000;
    font-size: 20px;
    color: #ffffff77;
    margin-right: 40px;
    height: 40px;
    text-align: center;
    width: 400px;
    margin-top: 200px;
    font-family: cursive;

}
#botonTarea::placeholder{
    color: #ffffff77;
}

#botonDate{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: black;
    font-size: 25px;
    color: #ffffff77;
    text-align: center;
    height: 39px;
    width: 400px;
    margin-top: 200px;
    font-family: cursive;
}
#botonAgregar{
    display: inline-block;
    border: 1px solid white;
    width: 95px;
    height: 45px;
    color:  #ffffff77;
     font-size: 23px;
     margin-left: 5%;
     text-align: center;
     background-color: black;
     font-family: cursive;
     position: relative;
     cursor: pointer;
}
#botonAgregar p {
  position: relative;
  bottom: 20px;
}
#botonAgregar:hover{
    display: inline-block;
    width: 95px;
    height: 45px;
    color:black;
    font-weight: bold;
    background-color:white;
    font-size: 23px;
    margin-left: 5%;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}
/* ESTILOS A LOS UL LI DEL JS */
ul li{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: #000;
    font-size: 20px;
    color: #ffffff77;
    margin-right: 70px;
    height: 60px;
    text-align: center;
    width: 600px;
    margin-top: 50px;
    list-style: none;
    overflow: auto;
    font-family: cursive;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(53, 52, 52);
    border: 1px solid rgb(255, 255, 255);
    width: 10px;
}
::-webkit-scrollbar-button {
        border: 1px solid rgb(255, 255, 255);
        background-color: black
}
::-webkit-scrollbar-corner {
    background-color: black;
}
ul{
    width: 50%;
    height: 400px;
    overflow: scroll;

}
.perro{
  background-color: red;
  border: 1px solid red;
}
/*h1{
    color: #ffffff77;
}*/
.listo{
    opacity: 0.3;
    text-decoration:line-through blue;
}
 .oculto{
  display: none;
 }

