@media (min-width:770px){
  .contentmenú .title{
    width: 80%;
    float: left;
  }
  .contentmenú .title h3{
    display: none;
  }
  .boton{
    display:none;
  }
  .contentmenú .menú{
    float: none;
    display: block;
  }
  .menú ul{
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  .menú ul li {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menú ul li  + li{
    margin-left: 30px;
  }
  .menú ul li a{
    text-transform: uppercase;
    font-size: 14px;
    color: #f2f3f2;
    text-decoration: none;
    &:hover{
      color: #85cfda;
    }
  }
  .icons {
    width: 25px;
    padding: 5px;
  }
  .contentheader .titlecontenheader{
    margin-top: 90px;
    margin-left: 60px;
    width: 50%;
    margin-bottom: 40px;
  }
  .contentheader .titlecontenheader h1{
    font-size: 38px;
    letter-spacing: 1px;
  }
  .linkcontentheader{
    padding-bottom: 70px;
    margin-left: 60px;
  }
  .linkcontentheader a{
    font-size: 19px;
  }
  /*secondblock*/
  .first{
    float: left;
    background-color: #27212c;
    color: #a492b3;
    width: 80%;
  }
  .first p {
      margin-top: 55px;
      font-size: 19px;
      margin-bottom: 55px;
      margin-left: 60px;
  }
  .second{
      background-color: #bc3183;
      float: left;
      width: 20%;
  }
  .second a .icons{
      width: 100%;
      margin-top: 35px;
      margin-bottom: 44px;
  }
  .second a{
      width: 40px;
      display: block;
      margin: 0 auto;
  }
  .slidersecondblock{
      width: 100%;
  }
  .tercero{
    float: left;
      width: 34%;
      background-color: #5b0fa1;
  }
  .tercero .icons {
      display: block;
      padding-top: 37%;
      padding-bottom: 37%;
  }
  .puente{
      width: 33%;
      float: left;
      margin: 0 ;
  }
  .mujer{
      width: 33%;
      float: left;
  }
  .secondblock:after {
    content: "";
    clear: both;
    display: table;
  }
  /*footer*/
  .parrafo1{
    width: 60%;
    float: left;
    padding-bottom: 15px;
}
  .parrafo2{
    width: 40%;
    float: left;
    padding-bottom: 33px;
  }

  .parrafo1 p{
    margin-left: 17%;
    width: 60%;
    color:#717171;
  }
  .parrafo2 p {
    margin-left: 10%;
    width: 60%;
    color:#717171;
    margin-bottom: 0;
  }
  .footer:after{
    content: "";
    clear: both;
    display: table;
  }
}