@media (min-width:992px){
    body{
        font-family: 'Montserrat', sans-serif;
        // font-weight: bold;
        margin:0;
    }
    #contenedorPrincipal{
        margin: 0 auto;
        width: 75%;
    }
    .logo{
        width: 90%;
    }
    .botonmenu{
        width: 10%;
    }
    // secondblovk header //
    .titleAndP p {
        font-size: 17px;
        padding-top: 20px;
        text-align: justify;
    }
    .titleAndP h2::after {
        height: 70px;
        width: 40px;
        left: 75px;
        top: 30px;
    }
    // main  //
    .filetwo::before {
        height: 70px;
        width: 60px;
        left: 90px;
        top: 300px;
    }
    // footer //
    .footer .imgPhone{
        width: 40%;
    }
    .dates{
        width: 65%;
        :hover{
            color: pink;
        }
    }
    .dates h2 {
        font-size: 40px;
        letter-spacing: 3px;
        color: black;
        :hover{
            color: pink;
        }
    }
    .redes{
        width: 85%;
    }
    .dates p{
        font-size: 17px;
    }
    .redes ul:after {
        content: "";
        clear: both;
        display: table;
    }
    .redes ul li {
        float: left;
        margin-left:15%;
        :hover{
            color: pink;
        }
    }
    .redes ul li a{
        font-size: 18px;
        letter-spacing: 3px;
        :hover{
            color: pink;
        }
    }
    .line{
        width: 2px;
        height: 70px;;
    }
}