@media (min-width:768px){
    #contenedorPrincipal{
        margin:  0 auto;
        width: 85%;
    }
    // secondblovk header //
    .titleAndP p {
        font-size: 17px;
        padding-top: 20px;
        text-align: justify;
        margin: 0;
        width: 70%;
    }
    .titleAndP h2::after {
        height: 70px;
        width: 40px;
        left: 75px;
        top: 30px;
    }
    // main  //
    .fileone::before {
        content:"";
        background-image: url('../img/icon2.png');
        display: inline-block;
        height: 70px;
        width: 60px;
        float: right;
        right: 100px;
        position: fixed;
    }
    .filetwo::before {
        content:"";
        background-image: url('');
        display: inline-block;
        height: 70px;
        width: 60px;
        float: right;
        left: 90px;
        top: 300px;
        position: fixed;
    }
    // footer //
    .footer .imgPhone{
        width: 40%;
    }
    .dates{
        width: 65%;
        :hover{
            color: pink;
        }
    }
    .dates h2 {
        font-size: 40px;
        letter-spacing: 3px;
        color: black;
        :hover{
            color: pink;
        }
    }
    .redes{
        width: 85%;
    }
    .dates p{
        font-size: 17px;
    }
    .redes ul:after {
        content: "";
        clear: both;
        display: table;
    }
    .redes ul li {
        margin-left:12%;
        :hover{
            color: pink;
        }
    }
    .redes ul li a{
        font-size: 18px;
        letter-spacing: 3px;
        :hover{
            color: pink;
        }
    }
    .line{
        height: 70px;;
    }
}
